@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

div #pLegend {
  display: none;
}
div .switchmenucontainer {
  margin: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #63cae1;
}

input:focus + .slider {
  box-shadow: 0 0 .5px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Yantramanav, Sans-Serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  line-height: 110%;
  background: #d4d5d7;
  overflow: scroll;
  cursor: default;
}

/* line 13, ../../app/lib/sass/_base.scss */
svg {
  cursor: move;
}

/* line 17, ../../app/lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Teko, Sans-Serif;
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}

/* line 24, ../../app/lib/sass/_base.scss */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  line-height: 190%;
}

/* line 32, ../../app/lib/sass/_base.scss */
li:hover {
  cursor: pointer;
  background-color: #85c446;
}

/* line 38, ../../app/lib/sass/_base.scss */
input {
  margin: 5px 0;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #00704a;
  background: #00704a;
  width: 100%;
  color: #fff;
}
/* line 47, ../../app/lib/sass/_base.scss */
input:focus {
  outline: none;
}

/* line 21, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../../app/lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 28, ../../app/lib/sass/_layout.scss */
.content {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 0;
}
/* line 32, ../../app/lib/sass/_layout.scss */
.content .search-menu {
  margin: 10px;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  background: #fff;
  padding: 0;
  display: flex;
  position: fixed;
  align-items: center;
}
/* line 41, ../../app/lib/sass/_layout.scss */
.content .search-menu img {
  color: #00704a;
  padding: 10px;
}
/* line 45, ../../app/lib/sass/_layout.scss */
.content .search-menu img:hover {
  cursor: pointer;
}
/* line 50, ../../app/lib/sass/_layout.scss */
.content .search-menu input {
  border: none;
  outline: none;
  color: #00704a;
  background-color: #fff;
  padding: 10px;
  margin: 0;
}
/* line 61, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.content .search-menu input:-moz-placeholder {
  color: #a5acb0;
  font-size: .9rem;
  font-style: italic;
}
/* line 64, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.content .search-menu input::-moz-placeholder {
  color: #a5acb0;
  font-size: .9rem;
  font-style: italic;
}
/* line 67, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.content .search-menu input:-ms-input-placeholder {
  color: #a5acb0;
  font-size: .9rem;
  font-style: italic;
}
/* line 56, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.content .search-menu input::-webkit-input-placeholder {
  color: #a5acb0;
  font-size: .9rem;
  font-style: italic;
}
/* line 65, ../../app/lib/sass/_layout.scss */
.content .search-menu #floor {
  color: #00704a;
  padding: 10px;
}
/* line 70, ../../app/lib/sass/_layout.scss */
.content .search-menu h2 {
  display: inline-block;
  color: #00704a;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 10px;
}
/* line 77, ../../app/lib/sass/_layout.scss */
.content .search-menu h2:hover {
  cursor: default;
}
/* line 83, ../../app/lib/sass/_layout.scss */
.content .dropdown {
  position: relative;
  padding-left: 0;
}
/* line 87, ../../app/lib/sass/_layout.scss */
.content .dropdown:hover {
  cursor: pointer;
}
/* line 90, ../../app/lib/sass/_layout.scss */
.content .dropdown:hover i {
  color: #85c446;
}
/* line 96, ../../app/lib/sass/_layout.scss */
.content .floors {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #00704a;
  font-size: 1.05rem;
  right: 0;
  min-width: 135px;
  text-align: center;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
}
/* line 107, ../../app/lib/sass/_layout.scss */
.content .floors h2 {
  padding: 5px 10px;
  width: 100%;
}
/* line 111, ../../app/lib/sass/_layout.scss */
.content .floors h2:hover {
  background-color: #85c446;
  color: #fff;
  cursor: pointer;
}
/* line 119, ../../app/lib/sass/_layout.scss */
.content .floors-active {
  display: inline-block;
}
/* line 123, ../../app/lib/sass/_layout.scss */
.content .popup-group {
  position: relative;
  display: inline-block;
}
/* line 127, ../../app/lib/sass/_layout.scss */
.content .popup-group .popup {
  visibility: hidden;
  width: 80px;
  background-color: #00704a;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
}
/* line 141, ../../app/lib/sass/_layout.scss */
.content .popup-group .popup h3 {
  color: #fff;
  font-weight: normal;
  font-size: .9rem;
}
/* line 147, ../../app/lib/sass/_layout.scss */
.content .popup-group .popup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00704a transparent;
}
/* line 159, ../../app/lib/sass/_layout.scss */
.content .popup-group .popup-active {
  visibility: visible;
}
/* line 165, ../../app/lib/sass/_layout.scss */
.content .divider {
  width: 1px;
  height: 1.2em;
  background: #a5acb0;
}
/* line 171, ../../app/lib/sass/_layout.scss */
.content .svg-holder {
  width: 100%;
  height: 100%;
}
/* line 175, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg {
  width: 100%;
}
/* line 178, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .outline {
  fill: #a5acb0;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 184, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .dark-fill {
  fill: #636466;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line */
.content .svg-holder svg .fill {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 190, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .room {
  fill: #00704a;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 196, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .bevel {
  stroke-linejoin: bevel;
}
/* line 201, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .room-group:hover {
  cursor: pointer;
}
/* line 204, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .room-group:hover .room {
  fill: #85c446;
}
/* line 207, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .room-group:hover .label {
  fill: #fff;
}
/* line 213, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .active-room {
  cursor: pointer;
}
/* line 216, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .active-room .room {
  fill: #f5e100;
}
/* line 219, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .active-room .label {
  fill: #000;
  font-weight: bold;
}
/* line 225, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .active-room:hover .room {
  fill: #85c446;
}
/* line 228, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .active-room:hover .label {
  fill: #000;
}
/* line 234, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .door {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
/* line 242, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .exit {
  stroke: #f5e100;
  stroke-width: 3;
}
/* line 247, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .label {
  fill: #fff;
  font-size: .6rem;
}
/* line 252, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .micro-font {
  font-size: .3rem;
}
/* line 256, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .small-font {
  font-size: .43rem;
}
/* line 260, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .medium-font {
  font-size: .48rem;
}
/* line 264, ../../app/lib/sass/_layout.scss */
.content .svg-holder svg .no-fill {
  fill: none;
}

/* line 271, ../../app/lib/sass/_layout.scss */
.content-disable {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: none;
  background-color: #000;
  opacity: .25;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 283, ../../app/lib/sass/_layout.scss */
.hide {
  display: none !important;
}

/* line 287, ../../app/lib/sass/_layout.scss */
.active {
  display: block !important;
}

/* line 1, ../../app/lib/sass/_nav.scss */
.nav {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 86.66667%;
  float: left;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
  position: absolute;
  background: #00704a;
  height: 100%;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  left: -125%;
}
@media (min-width: 30em) {
  /* line 1, ../../app/lib/sass/_nav.scss */
  .nav {
    width: 60%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
}
@media (min-width: 39em) {
  /* line 1, ../../app/lib/sass/_nav.scss */
  .nav {
    width: 40%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
  /* line 27, ../../app/lib/sass/_nav.scss */
  .nav ul li a {
    font-size: .9rem;
    line-height: 180%;
  }
}
@media (min-width: 70em) {
  /* line 1, ../../app/lib/sass/_nav.scss */
  .nav {
    width: 23.33333%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
}
/* line 41, ../../app/lib/sass/_nav.scss */
.nav h1 {
  display: inline-block;
  padding: 8px 10px;
  width: auto;
}
/* line 47, ../../app/lib/sass/_nav.scss */
.nav img {
  float: right;
  display: inline-block;
  padding: 10px;
}
.nav img {
  cursor: pointer;
}
/* line 55, ../../app/lib/sass/_nav.scss */
.nav ul li {
  padding: 0 10px;
}

/* line 61, ../../app/lib/sass/_nav.scss */
.nav-active {
  left: 0;
}

/* line 65, ../../app/lib/sass/_nav.scss */
.menu-section {
  margin-top: 5px;
  border-bottom: thin solid #fff;
}

/* line 70, ../../app/lib/sass/_nav.scss */
.dining {
  display: none;
}
.help-desk {
  display: none;
}
/* line 72, ../../app/lib/sass/_nav.scss */
.help-desk li {
  padding: 0;
  padding-left: 20px;
}

/* line 78, ../../app/lib/sass/_nav.scss */
.subMenu-active {
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  background: #0b7cbc;
  display: block;
}
/* line 84, ../../app/lib/sass/_nav.scss */
.subMenu-active li a {
  padding-left: 10px;
}

/* line 91, ../../app/lib/sass/_nav.scss */
.campus-info {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  background-color: #fff;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-top: 60px;
  text-align: center;
}
/* line 100, ../../app/lib/sass/_nav.scss */
.campus-info h4 {
  color: #00704a;
  padding: .3rem .8rem;
}
/* line 105, ../../app/lib/sass/_nav.scss */
.campus-info .menu-section {
  border-bottom-color: #00704a;
}
.campus-info #pLegend{
  display: none;
}
/* line 109, ../../app/lib/sass/_nav.scss */
.campus-info section {
  width: 100%;
  padding: .2rem .8rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: auto;
}
/* line 117, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key {
  padding: .3rem .2rem;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 121, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key p {
  color: #00704a;
  font-size: .7rem;
  line-height: normal;
}
/* line 127, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key .color-label {
  margin: auto;
}


/* line 139, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key #reserved-parking {
  border-radius: 10px;
  background-color: #f4c9c4;
  border: 1px solid #00704a;
  width: 10px;
  height: 10px;
}
/* line 143, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key #resident-parking {
  border-radius: 10px;
  background-color: #ffe5c6;
  border: 1px solid #00704a;
  width: 10px;
  height: 10px;
}
/* line 147, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key #student-parking {
  border-radius: 10px;
  background-color: #deedcd;
  border: 1px solid #00704a;
  width: 10px;
  height: 10px;
}
/* line 151, ../../app/lib/sass/_nav.scss */
.campus-info section .parking-key #visitor-parking {
  border-radius: 10px;
  background-color: #cfab7a;
  border: 1px solid #00704a;
  width: 10px;
  height: 10px;
}
@media (min-width: 30em) {
  /* line 91, ../../app/lib/sass/_nav.scss */
  .campus-info {
    width: 86.66667%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    margin-left: 6.66667%;
    margin-right: 6.66667%;
  }
  /* line 165, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key p {
    font-size: 1rem;
  }


  /* line 177, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #reserved-parking {
    border-radius: 15px;
    background-color: #f4c9c4;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
  }
  /* line 181, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #resident-parking {
    border-radius: 15px;
    background-color: #ffe5c6;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
  }
  /* line 185, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #student-parking {
    border-radius: 15px;
    background-color: #deedcd;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
  }
  /* line 189, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #visitor-parking {
    border-radius: 15px;
    background-color: #cfab7a;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 39em) {
  /* line 91, ../../app/lib/sass/_nav.scss */
  .campus-info {
    width: 26.66667%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    right: 0;
    margin: 10px;
    text-align: left;
  }
  /* line 202, ../../app/lib/sass/_nav.scss */
  .campus-info h4 {
    padding: .8rem 1rem;
    text-align: center;
  }
  /* line 207, ../../app/lib/sass/_nav.scss */
  .campus-info section {
    padding: .8rem;
    display: inline-block;
  }
  /* line 211, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: .3rem 0;
  }
  /* line 218, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key p {
    margin-left: .5rem;
    line-height: 120%;
    font-size: 1.2rem;
  }
  /* line 224, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key .color-label {
    margin: 0;
  }


  /* line 236, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #reserved-parking {
    border-radius: 20px;
    background-color: #f4c9c4;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
  }
  /* line 240, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #resident-parking {
    border-radius: 20px;
    background-color: #ffe5c6;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
  }
  /* line 244, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #student-parking {
    border-radius: 20px;
    background-color: #deedcd;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
  }
  /* line 248, ../../app/lib/sass/_nav.scss */
  .campus-info section .parking-key #visitor-parking {
    border-radius: 20px;
    background-color: #cfab7a;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 70em) {
  /* line 91, ../../app/lib/sass/_nav.scss */
  .campus-info {
    width: 16.66667%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
  }
}

/* line 2, ../../app/lib/sass/_campus.scss */
svg .campus {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
/* line 10, ../../app/lib/sass/_campus.scss */
svg .campus-outline {
  fill: none;
}
/* line 14, ../../app/lib/sass/_campus.scss */
svg .campus-fill {
  fill: #a5acb0;
}
/* line 18, ../../app/lib/sass/_campus.scss */
svg .building-group {
  cursor: pointer;
}
/* line 21, ../../app/lib/sass/_campus.scss */
svg .building-group .building {
  fill: #00704a;
  stroke: #00704a;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
/* line 29, ../../app/lib/sass/_campus.scss */
svg .building-group:hover .building {
  fill: #85c446;
}
/* line 36, ../../app/lib/sass/_campus.scss */
svg .no-hover {
  cursor: move;
}
/* line 40, ../../app/lib/sass/_campus.scss */
svg .no-hover:hover .building {
  fill: #00704a;
}
/* line 46, ../../app/lib/sass/_campus.scss */
svg .student-parking {
  fill: #deedcd
}
/* line 50, ../../app/lib/sass/_campus.scss */
svg .staff-parking {
  fill: #f4c9c4;
}
/* line 54, ../../app/lib/sass/_campus.scss */
svg .resident-parking {
  fill: #ffe5c6;
}
/* line 58, ../../app/lib/sass/_campus.scss */
svg .visitor-parking {
  fill: #cfab7a;
}
/* line 62, ../../app/lib/sass/_campus.scss */
svg .open-parking {
  fill: #deedcd;
}
/* line 66, ../../app/lib/sass/_campus.scss */
svg .reserved-parking {
  fill: #f4c9c4;
}
/* line 70, ../../app/lib/sass/_campus.scss */
svg #parking-deck {
  stroke: #00704a;
}
/* line 74, ../../app/lib/sass/_campus.scss */
svg .building-label {
  fill: #fff;
}
/* line 78, ../../app/lib/sass/_campus.scss */
svg .parking-label {
  fill: #000000;
}
/* line 82, ../../app/lib/sass/_campus.scss */
svg .small-label {
  font-size: .8rem;
}
/* line 86, ../../app/lib/sass/_campus.scss */
svg .medium-label {
  font-size: 1.3rem;
}
/* line 90, ../../app/lib/sass/_campus.scss */
svg .large-label {
  font-size: 1.7rem;
}

/* line 1, ../../app/lib/sass/_infotab.scss */
.tab {
  display: none;
  font-family: 'Open Sans';
}
/* line 5, ../../app/lib/sass/_infotab.scss */
.tab section {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  -moz-box-shadow: 1px 2px 5px #333333;
  -webkit-box-shadow: 1px 2px 5px #333333;
  box-shadow: 1px 2px 5px #333333;
  padding: 0;
  background-color: #00704a;
  position: absolute;
  height: 100%;
  overflow: hidden;
  right: -125%;
}
/* line 16, ../../app/lib/sass/_infotab.scss */
.tab section .title {
  min-height: 42px;
}
/* line 19, ../../app/lib/sass/_infotab.scss */
.tab section .title img {
  top: 10px;
  left: 10px;
  position: absolute;
}
.tab section .title img:hover {
  cursor: pointer;
}
/* line 25, ../../app/lib/sass/_infotab.scss */
.tab section .title h4 {
  font-size: 1.4rem;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  top: 10px;
}
/* line 34, ../../app/lib/sass/_infotab.scss */
.tab section .menu-section {
  margin-bottom: .5rem;
}
/* line 38, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content {
  height: 100%;
  overflow-y: auto;
  padding: .5rem .8rem;
  padding-bottom: 2rem;
}
/* line 44, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content p {
  padding-bottom: .3rem;
  font-weight: 300;
  line-height: 120%;
  font-size: 1rem;
}
/* line 51, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content h5 {
  border-top: thin solid #63cae1;
  border-bottom: thin solid #63cae1;
  padding: .4rem;
  margin: .3rem;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
}
/* line 62, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content .tab-group {
  margin: auto;
  margin-bottom: .8rem;
  text-align: center;
}
/* line 67, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content .tab-group img {
  border-radius: 50%;
  margin: .2rem;
  padding: .2rem;
  width: 150px;
  border: medium solid #63cae1;
}
/* line 75, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content .tab-group a {
  line-height: 120%;
  font-size: 1rem;
  font-weight: 300;
}
/* line 80, ../../app/lib/sass/_infotab.scss */
.tab section .tab-content .tab-group a:hover {
  color: #63cae1;
}
@media (min-width: 30em) {
  /* line 5, ../../app/lib/sass/_infotab.scss */
  .tab section {
    width: 60%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
}
@media (min-width: 39em) {
  /* line 5, ../../app/lib/sass/_infotab.scss */
  .tab section {
    width: 40%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
}
@media (min-width: 70em) {
  /* line 5, ../../app/lib/sass/_infotab.scss */
  .tab section {
    width: 26.66667%;
    float: left;
    padding-left: 0.66667%;
    padding-right: 0.66667%;
    padding: 0;
    padding-bottom: 15px;
  }
  /* line 105, ../../app/lib/sass/_infotab.scss */
  .tab section .title h4 {
    font-size: 1.3rem;
  }
  /* line 111, ../../app/lib/sass/_infotab.scss */
  .tab section .menu-section {
    margin-bottom: .3rem;
  }
  /* line 115, ../../app/lib/sass/_infotab.scss */
  .tab section .tab-content {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
  /* line 119, ../../app/lib/sass/_infotab.scss */
  .tab section .tab-content p {
    font-size: .9rem;
  }
  /* line 123, ../../app/lib/sass/_infotab.scss */
  .tab section .tab-content h5 {
    font-size: 1.1rem;
  }
}

/* line 131, ../../app/lib/sass/_infotab.scss */
.tab-active {
  display: block;
}
/* line 134, ../../app/lib/sass/_infotab.scss */
.tab-active section {
  right: 0;
}
