/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Open Sans, Gill Sans MT, Gill Sans, Corbel, Arial;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  line-height: 110%;
  background: #d9d9d9;
  overflow: scroll;
}

/* line 12, ../../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Teko, Sans-Serif;
  font-weight: bold;
  color: #fff;
}

/* line 18, ../../lib/sass/_base.scss */
a {
  text-decoration: none;
  color: #fff;
  line-height: 130%;
}
/* line 23, ../../lib/sass/_base.scss */
a:hover {
  color: #f5e100;
}

/* line 28, ../../lib/sass/_base.scss */
input {
  margin: 5px 0;
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #00704a;
  background: #00704a;
  width: 100%;
  color: #fff;
}
/* line 37, ../../lib/sass/_base.scss */
input:focus {
  outline: none;
}

/* line 1, ../../lib/sass/_nav.scss */
.nav {
  position: fixed;
  background: #00704a;
  width: 18.91892%;
  float: left;
  margin-right: 1.35135%;
  height: 100%;
}
/* line 7, ../../lib/sass/_nav.scss */
.nav .nav-content {
  padding: 15px 10px;
}

/* line 12, ../../lib/sass/_nav.scss */
.menu-section {
  height: 2px;
  width: 100%;
  background: #fff;
}

/* line 21, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../../lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../../lib/sass/_layout.scss */
.content {
  width: 80%;
  float: right;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
/* line 28, ../../lib/sass/_layout.scss */
.content #roomSearch {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 10px 5px;
  margin: 10px;
}
/* line 34, ../../lib/sass/_layout.scss */
.content svg {
  height: 100%;
  width: auto;
}
/* line 38, ../../lib/sass/_layout.scss */
.content svg .outline {
  fill: #a5acb0;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 44, ../../lib/sass/_layout.scss */
.content svg .fill {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 50, ../../lib/sass/_layout.scss */
.content svg .room {
  fill: #00704a;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 57, ../../lib/sass/_layout.scss */
.content svg .room-group:hover {
  cursor: pointer;
}
/* line 60, ../../lib/sass/_layout.scss */
.content svg .room-group:hover .room {
  fill: #85c446;
}
/* line 63, ../../lib/sass/_layout.scss */
.content svg .room-group:hover .label {
  fill: #fff;
}
/* line 70, ../../lib/sass/_layout.scss */
.content svg .active-room {
  cursor: pointer;
}
/* line 73, ../../lib/sass/_layout.scss */
.content svg .active-room .room {
  fill: #f5e100;
}
/* line 76, ../../lib/sass/_layout.scss */
.content svg .active-room .label {
  fill: #000;
  font-weight: bold;
}
/* line 82, ../../lib/sass/_layout.scss */
.content svg .active-room:hover .room {
  fill: #fff25c;
}
/* line 86, ../../lib/sass/_layout.scss */
.content svg .active-room:hover .label {
  fill: #000;
}
/* line 92, ../../lib/sass/_layout.scss */
.content svg .door {
  fill: none;
  stroke: #fff;
  stroke-width: 0.75;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 8,3,2,3,2,3;
}
/* line 101, ../../lib/sass/_layout.scss */
.content svg .label {
  fill: #fff;
  font-size: .6rem;
}
/* line 106, ../../lib/sass/_layout.scss */
.content svg .small-font {
  font-size: .43rem;
}
/* line 110, ../../lib/sass/_layout.scss */
.content svg .medium-font {
  font-size: .48rem;
}
