/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../lib/sass/_base.scss */
body {
  overflow: hidden;
  *zoom: 1;
  font-family: Open Sans, Gill Sans MT, Gill Sans, Corbel, Arial;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  line-height: 110%;
  background: #dcdcdc;
  overflow: scroll;
}

/* line 12, ../../lib/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Teko, Sans-Serif;
  font-weight: bold;
  color: #b50000;
}

/* line 18, ../../lib/sass/_base.scss */
a {
  text-decoration: none;
  color: #820000;
  line-height: 200%;
}
/* line 23, ../../lib/sass/_base.scss */
a:hover {
  color: #e80000;
}

/* line 21, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../../lib/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 26, ../../lib/sass/_layout.scss */
svg .outline {
  fill: #a5acb0;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 32, ../../lib/sass/_layout.scss */
svg .fill {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 38, ../../lib/sass/_layout.scss */
svg .room {
  fill: #00704a;
  stroke: #fff;
  stroke-miterlimit: 10;
}
/* line 49, ../../lib/sass/_layout.scss */
svg .room-group:hover {
  cursor: pointer;
}
/* line 52, ../../lib/sass/_layout.scss */
svg .room-group:hover .room {
  fill: #85c446;
}
/* line 55, ../../lib/sass/_layout.scss */
svg .room-group:hover .label {
  fill: #fff;
  font-weight: bold;
}
/* line 62, ../../lib/sass/_layout.scss */
svg .active-room {
  cursor: pointer;
}
/* line 65, ../../lib/sass/_layout.scss */
svg .active-room .room {
  fill: #f5e100;
}
/* line 68, ../../lib/sass/_layout.scss */
svg .active-room .label {
  fill: #000;
  font-weight: bold;
}
/* line 74, ../../lib/sass/_layout.scss */
svg .door {
  fill: none;
  stroke: #fff;
  stroke-width: 0.75;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-dasharray: 8,3,2,3,2,3;
}
/* line 83, ../../lib/sass/_layout.scss */
svg .label {
  fill: #fff;
  font-size: .6rem;
}
/* line 88, ../../lib/sass/_layout.scss */
svg .small-font {
  font-size: .43rem;
}
/* line 92, ../../lib/sass/_layout.scss */
svg .medium-font {
  font-size: .48rem;
}
